* {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    // i think i might be missing another reset thingy
}

// colors
$color-light: #FFFFFF;
$color-highlight: #0597F2;
$color-dark: #0D0D0D;

// fonts
$font-roboto:'Roboto', sans-serif;


body{
    background-color: #0D0D0D;
}

// Landing Page ..................................
.firstpagewrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    max-height: 100%;
    .logo{
        height: 20vh;
        background-image: url(assets/ShareMeLogo.png);
        background-size: contain;
        background-repeat: no-repeat;
        margin: 5em;
        margin-top: 13em;
        
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 20vh;
        width: 100%;
        align-self: flex-end;
        margin-top: 2em;
    }
    // sign in button
    .signin{
        background-color: #ffffff;
        border-radius: 2em;
        padding: 0.3em;
        width: 50%;
    }
    .signin h2{
        color: #0597F2;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
    // sign up button
    .signup{
        background-color: #ffffff;
        border-radius: 2em;
        padding: 0.3em;
        width: 50%;
    }
    .signup h2{
        color: #0597F2;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.2em;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }
}

// signin Page ..................................
.signinwrap {
    font-family: "Roboto", sans-serif;
    padding: 1em;
    // mini logo
    .minilogo {
        background-image: url(assets/ShareMeLogo.png);
        height: 10vh;
        width: 25%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .signinheader {
        margin-top: 10vh;
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            color: $color-light;
            font-family: 'Roboto', sans-serif;
        }
    }
    // sign in form (form items included)
    .signinform{
        display: flex;
        margin-top: 30vh;
        padding: 1em;
        .formitem{
            background-color: $color-dark;
            color: $color-highlight;
            border: 0px;
            border-bottom:thin solid $color-highlight;
            min-width: 100%;
            padding: 0.4em;
            margin-bottom: 2em;
        }
        .formitem::placeholder{
            color: $color-highlight;
            font-size: 1.7em;
            font-weight: 300;
            font-family: $font-roboto;
        }
        .formitem:focus{
            outline: none;
            transition: ease-in-out 0.2s;
            border-bottom: $color-highlight solid medium;
        }
        .signinbutton{
            background-color: #ffffff;
            border-radius: 2em;
            padding: 0.3em;
            width: 70%;
            color: #0597F2;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2em;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            margin: 0 auto;
            display: block;
            border: none;
        }
    }
}

// Signup Page ..................................
.signupwrap {
    font-family: "Roboto", sans-serif;
    padding: 1em;
    // mini logo
    .minilogo {
        background-image: url(assets/ShareMeLogo.png);
        height: 10vh;
        width: 25%;
        margin: auto;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .signupheader {
        margin-top: 10vh;
        h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: 500;
            color: $color-light;
            font-family: 'Roboto', sans-serif;
        }
    }
    // sign up form (form items included)
    .signup_form {
        display: flex;
        margin-top: 25vh;
        padding: 1em;
        .formitem{
            background-color: $color-dark;
            color: $color-highlight;
            border: 0px;
            border-bottom:thin solid $color-highlight;
            min-width: 100%;
            padding: 0.4em;
            margin-bottom: 2em;
        }
        .formitem::placeholder{
            color: $color-highlight;
            font-size: 1.7em;
            font-weight: 300;
            font-family: $font-roboto;
        }
        .formitem:focus{
            outline: none;
            transition: ease-in-out 0.2s;
            border-bottom: $color-highlight solid medium;
        }
        .signupbutton {
            background-color: #ffffff;
            border-radius: 2em;
            padding: 0.3em;
            width: 70%;
            color: #0597F2;
            text-align: center;
            text-transform: uppercase;
            font-size: 1.2em;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            margin: 0 auto;
            display: block;
            border: none;
        }
    }
}


