@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.app header {
  min-height: 3em;
}

.app img {
  position: absolute;
  max-height: 3em;
  top: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.app .user {
  border: 1px #0597F2 solid;
  max-height: 3em;
  padding: 1em;
  border-radius: 50%;
}

.app main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  background-color: #0D0D0D;
}

.app main .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.app footer {
  min-height: 3em;
  border-radius: .5em .5em 0em 0em;
}

h1 {
  color: #0597F2;
}

header {
  background-color: #0D0D0D;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header i {
  font-size: 2em;
  color: #0597F2;
}

footer {
  background-color: #024670;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer i {
  font-size: 2.5em;
  color: #0597F2;
}

main {
  background-color: white;
}

main .container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
}

nav {
  background-color: #0478c0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 90;
  text-align: right;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

nav i {
  padding: 1rem;
}
